<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <!-- v-for 中in或者of -->
    <!-- 1 使用数组 -->
    <!-- <div id="app">
      <ul>
          <li v-for="(person,index) in persons">
              {{ person }} -- {{ index }}
          </li>
      </ul>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
           data:{
               persons:["one","two","three"]
           }
        })
    </script> -->

    ---------------------------------------------------------
    <!-- 2 使用数组 对象-->
    <!-- <div id="app">
        <ul>
            <li v-for="(person,index) in persons">
                {{ person.name }} -- {{person.age}} -- {{ index }}
               
            </li>
            <li v-for="(value,key,index) of tan">
                {{ value }} --- {{ key }} -- {{ index }}
            </li>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                persons: [{
                        name: 'tan',
                        age: 23
                    },
                    {
                        name: "bi",
                        age: 22
                    },
                    {
                        name: "ttt",
                        age: 30
                    }
                ],
                tan:{
                    name:'tan',
                    age: 233,
                    id: 2333
                }
            }
        })
    </script> -->
    ---------------------------------------------------------

    <!-- <div id="app">
        <ul>
            <li v-for="item of 10 ">{{ item }}</li>
            <li v-for="item in 'tscn' ">{{ item }}</li>
        </ul>

    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data:{
            }
        })
    
    
    </script> -->

    ---------------------------------------------------------

    <!-- <div id="app">
        <template v-for="person in persons">
            <li>{{ person.name }}</li>
            <span>{{ person.age }}</span>
        </template>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                persons: [{
                        name: "谭彪",
                        age: 23
                    },
                    {
                        name: "老毕",
                        age: 22
                    },
                    {
                        name: "老王",
                        age: 21
                    }
                ]
            }
        })
    </script> -->
    ---------------------------------------------------------

    <!-- <div id="app">
        <ul>
                <button @click="handleClick">反转</button>

            <li v-for = "(person,index) in persons" :key="person.name">
                {{person.name}}
                <input type="text">
                <button @click="handleClick(index)">下移</button>
            </li>
        </ul>

        <button @click="show = !show">{{show ? '显示':'隐藏'}}</button>
        <input type="text" v-if='show' key='a'>
        <input type="text" v-else key='b'>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data:{
                persons:[{
                    name: "谭彪",
                    age: 23
                },
                {
                    name:"毕红庆",
                    age: 21
                },
                {
                    name: "王信尧",
                    age: 22
                },
             
            ],
            show: true
            },
            methods:{
                handleClick(index){
                    // console.log(index)
                    //删除
                    // const deleteItem = this.persons.splice(index,1);
                    // console.log(deleteItem);
                    //插入
                    // this.persons.splice(index+1,0,...deleteItem);
                    this.persons.reverse();
                }
            }
        })
    </script> -->




    <div id="app">
        <ul>
            <li v-for="person in personsActive">{{ person.name }}</li>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data:{
                persons:[{
                    name:"tan",
                    age: 23,
                    isActive: true
                },
                {
                    name:"bi",
                    age: 22,
                    isActive: false
                },
                {
                    name:"wang",
                    age: 21,
                    isActive: false
                },
                {
                    name:"du",
                    age: 20,
                    isActive: true
                }, 
            ],
            personsActive:[],
            }
            
        })
        vm.personsActive = vm.persons.filter(item => item.isActive);
    </script>
</body>

</html>